/* 
191724
6e6a86
e0def4
f6c177
9ccfd8
eb6f92
*/

* {
    padding: 0;
    margin: 0;
}

.container {
    display: grid;
    height: 100vh;
    grid-template-columns: 25rem 1fr;
    grid-template-rows: 3rem 1fr auto;
    grid-template-areas: 
        "nav main"
        "nav main";        
}

.nav-bar {
    grid-area: nav;
    background-color: #e0def4;
    display: flex;
    justify-content: top;
    flex-direction: column;
    column-gap: 5px;
}

.nav-header {
    padding: 2rem;
    font-size: 40px;
}

.nav-ul {
    padding: 2rem;
}

nav ul {
    list-style: none;
    margin: 5%;
    font-size: 30px;
}

nav li {
    margin: 12%;
}

nav {
    font-family: 'Rubik', sans-serif;
}

a {
    color: #191724;
}

a:link {
    text-decoration: none;
}

a:visited {
    text-decoration: none;
}

a:hover {
    text-decoration: none;
}

a:active {
    text-decoration: none;
}

main {
    grid-area: main;
    background-color: #6e6a86;
}

.contacts {
    display: grid;
    grid-template-columns: 33% 33% 33%;
    grid-template-areas: 
        "card1 card2 card3"
    ;
    margin: 10%;
    justify-items: center;
}

.contact-block1 {
    grid-area: card1;
    background-color: #f6c177;
    text-align: center;
    width: 100px;
    margin: 50px;
    padding: 50px;
}

.contact-block2 {
    grid-area: card2;
    background-color: #f6c177;
    text-align: center;
    width: 100px;
    margin: 50px;
    padding: 50px;
}

.contact-block3 {
    grid-area: card3;
    background-color: #f6c177;
    text-align: center;
    width: 100px;
    margin: 50px;
    padding: 50px;
}

.create-menu {
    display: flex;
    flex-direction: column;
    width: 300px;
    margin-left: 5%;
    margin-top: 5%;
}

.contact-icon {
    width: 100px;
    height: 100px;
    margin-left: 10px;
}

.inputs {
    display: flex;
    flex-direction: column;
}

.create-input-field {
    text-align: left;
    font-family: 'Rubik', sans-serif;
    background-color: white;
    border: 3px solid black;
    width: 200px;
    margin: 20px;
    padding: 20px;
}

.add-info {
    display: flex;
    flex-direction: column;
    align-self: flex-end;
    gap: 57px;
    margin-bottom: 30px;
}

.button {
    background-color: #6e6a86;
    border: none;
    font-size: 40px;
    text-align: center;
    cursor: pointer;
}

.body-create {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.save-cancel {
    display: flex;
    justify-content: center;
    width: 244px;
    margin-left: 13px;
    margin-top: 20px;
    gap: 10px;
}

.save {
    font-family: 'Rubik', sans-serif;
    background-color: #9ccfd8;
    border: none;
    font-size: 15px;
    text-align: center;
    cursor: pointer;
    width: 60%;
    padding: 20px;
}

.cancel {
    font-family: 'Rubik', sans-serif;
    background-color: #eb6f92;
    border: none;
    font-size: 15px;
    text-align: center;
    cursor: pointer;
    width: 40%;
}
